<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="./static-files/style.css" />
</head>

<body>

  <h2 id="headline">Foo bar baz</h2>

  <p class="unique_class" id="some_id">Some text here</p>
  <p class="some_class">More text</p>
  <p class="some_class">And yet more</p>

  <a class="link class a1" id="homepage_link_top" href="/">go to Homepage</a>
  
  <form method="post" action="/begin">
    <div>
      <!-- really tall textarea to test vertical scrolling -->
      <textarea name="comments" cols="40" rows="1000"></textarea> 
    </div>
    <input type="submit" value="Begin" id="mainform" />
  </form>
  
  <a class="link class a1" id="homepage_link_bottom" href="/">go to Homepage</a>

</body>
</html>
