<html>
<head>
    <title>Page with tables</title>
    <link rel="stylesheet" type="text/css" href="./static-files/style.css" />
</head>

<body>

<table id="no-body">
</table>

<table id="one-row">
  <tbody>
    <tr>
      <td>Cell 0</td>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
    </tr>
  </tbody>
</table>

<table id="empty">
  <thead>
    <tr>
      <th>Head 0</th>
      <th>Head 1</th>
      <th>Head 2</th>
      <th>Head 3</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</body>
</html>