
body {
    font-family: Ubuntu,Tahoma,sans-serif;
    background-color: #F7F6F5;
    color: #2C001E;
    margin: 20px;
}

h1 {
	color: #2C001E;
	background-color: #DD4814;
	padding-left: 8px;
}

h2 {
	color: #2C001E;
	background-color: #DD4814;
	padding-left: 8px;
}

